.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;

    &__logo {
        height: 95px;
        width: 108px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    &__list {
        display: flex;
        gap: 90px;
        font-size: 20px;
    }
}
