// Fonts
$font-main: "Vollkorn SC", serif;

// Common Colors
$color-overlay: rgba(0, 0, 0, 0.5);
$color-white: #fff;
$color-gray-border: #474747;
$color-gray-light-border: #8d8d8d;
$color-green: #66b65f;
$color-black: #1f1f1f;
$color-red: #c06060;

//Font weight
$fw-reg: 400;
$fw-sb: 600;
$fw-b: 700;
